<h3>コメント一覧</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= @user.name %>
      <%= comment %>
      <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>