<div class="container">
    <div class="row">
        <div class="col-lg">
            <h3 class="text-center m-2 p-4">検索結果</h3>
            <table class="col-12 text-center">
              <thead>
                <tr>
                  <th>タグ</th>
                  <th></th>
                  <th>投稿</th>
                  <th>説明文</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
            
              <tbody>
                <% @tag_results.each do |post| %>
                  <tr>
                    <td><%= post.tags.map(&:tag_name).join('、') %></td>
                    <td><%= link_to image_tag(post.get_image(200,200)), post_path(post.id) %></td>
                    <td><%= link_to post.stone_name, post_path(post.id) %></td>
                <% end %>
              </tbody>
            </table>
            <div class="text-center"><%= paginate @tag_results %></div>
        </div>
    </div>
</div>