<div container>
    <div class="row">
        <div class="col-lg">
            <h3>お気に入りした投稿</h3>
            <% @favorite.favorite.id each do |favorite| %>
            <%= link_to favorite.stone_name, post_path(favorite), class: "nav-link text-dark" %>
            <%= favorite.caption %>
            <% end %>
        </div>
    </div>
</div>