<div class="container-fluid text-center about">
    <div class="row d-flex flex-column">
        <div class="col-lg pt-5 pb-2 text-light">
            <h3 class="fst-italic">ここは<strong>tranza（トランザ）</strong></h3>
        </div>
        <div class="col-lg text-warning pb-5">
            <p>宝石・原石の取引交渉コミュニティサイトです。
            <br>もちろん閲覧のみの方もご利用いただけます。</p>
        </div>
        <div class="col-lg text-warning pb-4">
            <p>買ったはいいものの同じ原石が家にいっぱいあってどう処理しようか困っている…</br>
            今まで原石や宝石を集めてたけど不要になってしまった…</br>
            あなたのいらなくなった原石や宝石が他の人にとっての宝物になるかもしれません</br>
            あなたのその原石や宝石、tranza(トランザ)に出品しませんか？</p>
        </div>
        
        <div class="col-lg text-warning pb-5">
            <p>このサイトの利用の仕方は、</br>
            出品された原石や宝石を会員の方々で交渉して取引を成立させる目的もありますが、</br>
            「原石や宝石に興味あるけどどんなものがあるかわからない」</br>
            という方に原石や宝石の魅力を知ってもらうためのサイトでもあります。</br>
            様々な石の魅力を皆様に知っていただければ幸いです。</br>
            貴方だけの最高の宝石を見つけてみてください。</p>
        </div>
    </div>
</div>