<h2>プロフィール編集</h2>
<%= form_for @user do |user| %>
  <label for="inputName">Name</label>
  <%= user.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <label for="inputImage">ProfileImage</label>
  <%= user.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
  <%= user.submit "変更を保存" %>
<% end %>