<div>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <h10><%= @user.name %></h10>
    
    <h8>投稿一覧</h8>
        <table>
            
        </table>
    
    <h8>コメント一覧</h8>
        <table>
            
        </table>
    
</div>
    