<div class="container">
    <div class="row">
        <div class="col-lg text-center">
            <h3>お気に入りした投稿</h3>
            <table>
                <% @favorites.each do |favorite| %>
                <tr>
                    <td class="border border-info border-start-0 rounded-end">
                        <%= link_to image_tag(favorite.post.get_image(200,200)), post_path(favorite.id) %>
                    </td>
                    <td class="px-3">
                        <strong><%= link_to favorite.post.stone_name, post_path(favorite.post.id), class: "nav-link text-primary" %></strong>
                    </td>
                    <td class="px-2">
                        <%= favorite.post.caption %>
                    </td> 
                        
                    
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>