<div class="container">
    <div class="row d-flex flex-column p-3">
        <div class="col">
            <img src="/app/assets/images/small-minerals4.jpg" alt="" height="300">
            <h1>Welcome to Tranza(トランザ)</h1>
        </div>
        
        <div class="d-flex flex-column p-3">
        <div class="col">
            <p><%= link_to "アバウトページはこちらです。", about_path, class:"btn btn-outline-info btn-sm col-md-offset-5" %></p>
        </div>
        
        <div class="col">
            <h4>会員の方はこちらからログインをお願いします。</h4>
            <%= link_to "会員登録はこちら", new_user_registration_path, class:"btn btn-success col-md-5 col-md-offset-5" %>
        </div>
        
        <div class="col">
            <h4>会員登録をしていない方はこちらから会員登録をお願いします。</h4>
            <%= link_to "ログイン", user_session_path, class:"btn btn-info col-md-5 col-md-offset-5" %>
        </div>
        
        <div class="col">
            <h4>ゲストの方はこちらからです。</h4>
            <%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class:"btn btn-secondary col-md-5 col-md-offset-5"  %>
        </div>
        </div>

        
    </div>
</div>



