<h1>Welcome to トランザ</h1>

<p><%= link_to "アバウトページはこちらです。", about_path %></p>
<h4>会員の方はこちらからログインをお願いします。</h4>
<%= link_to "会員登録はこちら", new_user_registration_path %>
<h4>会員登録をしていない方はこちらから会員登録をお願いします。</h4>
<%= link_to "ログイン", user_session_path %>
<h4>ゲストの方はこちらからです。</h4>
<%= link_to "ゲストログイン", guest_sign_in_path, method: :post  %>
