@use '~bootstrap/scss/bootstrap';

.bg1{
  background-image: url("../images/small-minerals4.jpg");
   position: relative;
   z-index: 1;
   background-color: white;
}
.bg1::after{
  position: absolute;
  opacity: 0.5;
  z-index: 2;
  background-color: white;
}
.bg1>h1{
  position: relative;
  z-index: 3;
}
.bg1>h4{
  position: relative;
  z-index: 3;
}
.bg1>.text{
  position: relative;
  z-index: 3;
}

.bg2 {
  background: #000;
  opacity: 0.8;
}
.top-text {
  color: black;
  -webkit-text-fill-color: cyan; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 2px midnightblue;
}
.top-text1 {
  color: black;
  -webkit-text-fill-color: black; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.9px lime;
}
.top-text2 {
  color: black;
  -webkit-text-fill-color: black; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.9px deepskyblue;
}
.top-text3 {
  color: black;
  -webkit-text-fill-color: black; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.9px dimgray;
}



.about{
  background-image: url("../images/emerald-cave3.jpg");
}
.about-tranza{
  font-family: cursive;
}
.about-text{
  font-size: 20px;
  color: black;
  -webkit-text-fill-color: white; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.4px crimson;
}
.about-text1{
  color: black;
  -webkit-text-fill-color: white; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.5px magenta;
}
.about-text1-2{
  color: black;
  -webkit-text-fill-color: white; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.5px magenta;
}
.about-text1-3{
  color: black;
  -webkit-text-fill-color: white; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.5px magenta;
}
.about-text2{
  color: black;
  -webkit-text-fill-color: black; /* （順序に関係なく）色を上書きする */
  -webkit-text-stroke: 0.3px mediumblue;
}
