@use '~bootstrap/scss/bootstrap';

.bg1 {
  background-image: url("../images/small-minerals4.jpg");
}
.bg2 {
  background: #000;
  opacity: 0.5;
}
.about{
  background-image: url("../images/emerald-cave3.jpg");
}
