<div class="container p-3">
    <div class="row">
        <div class="col-lg">
            <h3 class="text-center">コメントした投稿</h3>
            <table>
                <tr class="border border-info border-start-0 rounded-end">
                    <% @comments.each do |comment| %>
                       <td>
                           <%= link_to image_tag(comment.post.id.get_image(200,200)), post_path(comment.post.id) %>
                           <%= link_to comment.post.stone_name, post_path(comment.post.id) %>
                           <%= comment %>
                       </td>
                    <% end %>
                </tr>
            </table>
        </div>
    </div>
</div>